@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family-display: "Days One", "sans-serif";

    --breakpoint-3xl: 1920px;

    --color-brand-background: oklch(88.27% 0.066 359.29);

    --foreground-rgb: oklch(98.3% 0.004 316.6);
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 10, 10, 10;
    --color-primary-my: oklch(89.33% 0.17190800551761173 165.35314232524098);
    --color-background-my: oklch(18.67% 0 0);
    --color-secondary-my: oklch(73.46% 0.185 152.73);
    --color-background-card: oklch(14.08% 0.004 285.82);
    --color-neon-yellow: oklch(94.44% 0.194 106.75);
    --color-neon-pink: oklch(71.7% 0.25 360 / 0.3);
    --color-neon-lime: oklch(91.5% 0.258 129);
    --color-neon-cyan: oklch(91.3% 0.139 195.8);
    --color-emerald-green: oklch(69.59% 0.149 162.48);
    --color--overlay-blurple: oklch(91.3% 0.139 195.8);
    --overlay-plurple: oklch(0.5 0.233 303.9 / 0.33);
    --overlay-blurple: oklch(71.7% 0.25 360 / 10%);

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --font-family-display: "Days One", "sans-serif";

    --breakpoint-3xl: 1920px;

    --color-brand-background: oklch(88.27% 0.066 359.29);

    --foreground-rgb: oklch(98.3% 0.004 316.6);
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 10, 10, 10;
    --color-primary-my: oklch(89.33% 0.17190800551761173 165.35314232524098);
    --color-background-my: oklch(18.67% 0 0);
    --color-secondary-my: oklch(73.46% 0.185 152.73);
    --color-background-card: oklch(14.08% 0.004 285.82);
    --neon-yellow: oklch(94.44% 0.194 106.75);
    --neon-pink: oklch(71.7% 0.25 360);
    --neon-lime: oklch(91.5% 0.258 129);
    --neon-cyan: oklch(91.3% 0.139 195.8);
    --emerald-green: oklch(69.59% 0.149 162.48);

    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  @font-face {
    font-family: "DaysOneRegular";
    src: url("/fonts/DaysOne/DaysOneRegular/DaysOneRegular.eot");
    src: url("/fonts/DaysOne/DaysOneRegular/DaysOneRegular.eot?#iefix") format("embedded-opentype"),
      url("/fonts/DaysOne/DaysOneRegular/DaysOneRegular.woff") format("woff"),
      url("/fonts/DaysOne/DaysOneRegular/DaysOneRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  .text-color {
    @apply animate-[animate8345_9s_linear_infinite];
    background: linear-gradient(to right, #2d60ec, #3ccfda);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .wrap {
    @apply flex items-center justify-center py-10 px-4 mb-5 mt-5;
  }
  .circle {
    @apply w-[300px] h-[300px] overflow-hidden animate-[morph_5s_linear_infinite] rounded-[40%_60%_70%_30%_/_40%_50%_60%_50%];
    background: transparent;
  }
  .circle img {
    @apply w-full;
  }
  .circle1 {
    @apply w-[250px] h-[250px] overflow-hidden animate-[morph_5s_linear_infinite] rounded-[40%_60%_70%_30%_/_40%_50%_60%_50%];
    background: transparent;
  }

  :where(.prose) {
    :where(h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul, ol) {
      margin-top: 1em;
    }

    :where(ul, ol) {
      padding-inline-start: 1em;

      :where(ul, ol) {
        margin-top: 0;
      }
    }

    :where(ul) {
      list-style-type: initial;
    }

    :where(ol) {
      list-style-type: decimal;
    }

    :where(li) :where(p:first-child) {
      margin: 0;
    }
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .days-one-regular {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .border {
    border-color: oklch(35.6% 0.174 312.18 / 25%);
  }

  body {
    transition: background-color 0.5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "rlig" 1, "calt" 1;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }

  .glass {
    background: rgba(57, 56, 56, 0.52);
    backdrop-filter: blur(13px) saturate(150%);
    -webkit-backdrop-filter: blur(13px) saturate(150%);
    z-index: -1;
  }

  .page {
    color: var(--background);
    background:
      linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
      radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
  }

  .hero {
    filter: drop-shadow(0 0 3rem var(--color-neon-pink));
  }
}

header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.hero > img {
  animation: vert-move 3s ease-in-out infinite;
  border-radius: 9999px;
}
.rounded-full {
  border-radius: 9999px;
}

@keyframes vert-move {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.balance-text {
  text-wrap: balance;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --velocidad-marquee: 5s;
  }
}

@property --tw-outline-style {
  syntax: "<custom-ident>";
  inherits: false;
  initial-value: solid;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@property --tw-outline-style {
  syntax: "<custom-ident>";
  inherits: false;
  initial-value: solid;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
