svg#freepik_stories-teacher-student:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-teacher-student.animated #freepik--background-simple--inject-110 {
  animation: 6s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-teacher-student.animated #freepik--speech-bubble--inject-110 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-teacher-student.animated #freepik--character-2--inject-110 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-teacher-student.animated #freepik--character-1--inject-110 {
  animation: 6s Infinite linear shake;
  animation-delay: 0s;
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

svg#freepik_stories-college-admission:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-college-admission.animated #freepik--background-simple--inject-322 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-college-admission.animated #freepik--Shapes--inject-322 {
  animation: 3s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-college-admission.animated #freepik--Letter--inject-322 {
  animation: 6s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-college-admission.animated #freepik--character-2--inject-322 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-college-admission.animated #freepik--character-1--inject-322 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animator-hidden {
  display: none;
}

svg#freepik_stories-english-teacher:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-english-teacher.animated #freepik--Lamp--inject-212 {
  animation: 1.5s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-english-teacher.animated #freepik--Character--inject-212 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

svg#freepik_stories-certification:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-certification.animated #freepik--background-simple--inject-104 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-certification.animated #freepik--Certification--inject-104 {
  animation: 6s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-certification.animated #freepik--Character--inject-104 {
  animation: 6s Infinite linear shake;
  animation-delay: 0s;
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.animator-hidden {
  display: none;
}

svg#freepik_stories-webinar:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-webinar.animated #freepik--background-simple--inject-8 {
  animation: 6s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-webinar.animated #freepik--Picture--inject-8 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-webinar.animated #freepik--Device--inject-8 {
  animation: 6s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-webinar.animated #freepik--bubble-speech--inject-8 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-webinar.animated #freepik--Character--inject-8 {
  animation: 6s Infinite linear shake;
  animation-delay: 0s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

svg#freepik_stories-english-teacher:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-english-teacher.animated #freepik--blackboard--inject-214 {
  animation: 1s 1 forwards ease-in zoomIn, 3s Infinite linear wind;
  animation-delay: 0s, 1s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
.animator-hidden {
  display: none;
}

svg#freepik_stories-online-test:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-online-test.animated #freepik--background-simple--inject-95 {
  animation: 6s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-online-test.animated #freepik--Test--inject-95 {
  animation: 6s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-online-test.animated #freepik--Character--inject-95 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

svg#freepik_stories-learning:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-learning.animated #freepik--Elements--inject-22 {
  animation: 6s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-learning.animated #freepik--Earth--inject-22 {
  animation: 1.5s Infinite linear spin;
  animation-delay: 0s;
}
svg#freepik_stories-learning.animated #freepik--Character--inject-22 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
