---
import Layout from '@/layouts/Layout.astro'
import Image from 'astro/components/Image.astro'
---

<Layout title="404 page" description="404 - Page Not Found">
  <main class="container mx-auto">
    <section class="flex flex-col items-center justify-center h-[60dvh]">
      <div class="flex">
        <span class="fancy text-8xl font-bold">4</span>
        <Image src="/favicon.svg" alt="website logo" width="60" height="60" />
        <span class="fancy text-8xl font-bold">4</span>
      </div>
      <span class="fancy text-3xl font-bold">not found</span>
    </section>
  </main>
</Layout>
