---
import Earth from '@/components/ui/globe'
---


      <div class="h-screen overflow-hidden bg-trancperent text-foreground">
        <article class="grid gap-4 text-center relative z-10 pt-10">
          <span class="inline-block border p-1 px-3 w-fit mx-auto rounded-full border-primary bg-primary">
            <p>Education</p>
          </span>
          <h1 class="text-4xl  font-semibold bg-gradient-to-b from-[#edeffd] to-[#7b9cda] bg-clip-text text-transparent leading-[100%] tracking-tighter">
            Open World with Noname !
            <br />
            Exist Fluent Emplementation - Life Without Borders
          </h1>
          <div class="float">
          <Earth client:load />
          </div>
        </article>
      </div>

