---
import { BackgroundLines } from '@/components/ui/background-lines'
import { type UiType, getLangFromUrl, useTranslations } from '@/i18n/config'
import { Spotlight } from './ui/spotlight'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang as UiType)
---
    <div class="h-[40rem] w-full rounded-md flex md:items-center md:justify-center bg-trancperent antialiased bg-grid-white relative overflow-visible">
      <Spotlight
        className="-top-40 left-0 md:left-60 md:-top-20"
        fill="white"
        client:visible
      />
      <BackgroundLines className="flex items-center justify-center w-full flex-col px-4" client:visible >
      <div class=" p-4 max-w-7xl text-center mx-auto relative z-10  w-full pt-20 md:pt-0">
        <span class="inline-block border p-1 px-3 w-fit mx-auto rounded-full border-primary bg-background">
        <h1 class="text-4xl mx-auto my-auto font-black tracking-tight lg:text-5xl scroll-m-20 transition-colors duration-200 tracking-tight animate-textGradient bg-gradient-to-r from-neon-lime via-primary to-neon-cyan bg-clip-text text-transparent text-center bg-clip-text bg-opacity-50">
                      Jane School
          </h1>

       </span>
         <h2 class="font-bold mt-5 bg-clip-text text-transparent bg-gradient-to-b from-foreground to-muted-foreground bg-opacity-50"> is the new mainstream in world trend's.</h2>

          <p class="reletative transition-colors text-sm font-bold leading-6 [&:not(:first-child)]:mt-6 text-foreground max-w-lg text-center mx-auto">
          Spotlight effect is a great way to draw attention to a specific part
          of the page. Here, we are drawing the towards the text
          section of the page. I don&apos;t know why but I&apos;m running out of
          copy.
        </p>
      </div>
    </BackgroundLines>
    </div>
