---
import { GridBeam } from './react/GridBeam'
---


<div class="w-full h-[400px] bg-grid-white/25%">
    <GridBeam className="sm:pl-16 pt-28 pl-4 flex items-start justify-start" client:visible >
      <div class="grid gap-2">
        <h1 class="sm:text-5xl text-primary scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl max-w-sm">Hero Section That Converts.</h1>
        <p class="text-foreground max-w-lg">
          Beautiful beam which I btw reverse engineered from Aceternity
        </p>
      </div>
    </GridBeam>
</div>
